a{
    text-decoration:none;
    color: inherit;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 35px;
    font-weight: 600;
}
.header{
    background-color: none;
    padding: 17px 0 17px;
    color: #1E1E1E;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 45px;
   
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
}

.menu-item{
    padding-right: 145px;
}

.logo{
    font-size: 30px;
    line-height: 45px;
    padding-right: 75px;
}

.menu-link{
    font-size: 20px;
    line-height: 30px;
}

.news{
    padding: 44px 0 100px;
}

.news-info{
    display: flex;
}

.news-text{
    text-transform: uppercase;
    margin: auto;
    font-size: 20px;
    line-height: 35px;
   
}

.title{
    text-transform: uppercase;
    text-align: center;
}
.news-text p{
    max-width: 362px;
    font-weight: 600px;
    font-size: 30px;
    line-height: 45px;
  
}

h1{
    text-align: center;
}

.news-text b{
    max-width: 530px;
    font-weight: 600px;
}

.fon-img{
   width: 50%;
   height: 450px;
}

.tou-img{
    width: 50%;
    display: block;
    margin: auto;
}

@media(max-width:420px){
    
    .header{
        padding: 20px 0;
        flex-direction: column;
    }

    .logo{
        padding-right: 30px;
    }

    .menu{ 
    text-transform: uppercase;
    flex-direction: column;
    text-align: end;
    }

    .news{
        padding: 20px 0 30px;
    }

    .container{
        padding: 0 20px;

    }

    .fon-img{
        display:none;
    }

    .tou-img{
    
        max-width: 50%;

    }

    .news-text p{
        padding: 0 0 5px;
    }

    .news-text p,
    .news-text b{
        max-width:100%;
    }
}

